<div class="picture-list">
	<table>
	<% for picture in @all_pictures %>
	<tr>
    <td><img src="<%= url_for(:action => 'picture', :id => picture.id) %>"/></td>
    <td><%= h(picture.id)%></td>
    <td><%= h(picture.tag)%></td>
	<% end %>
	</tr>
	</table>
</div>