<div class="user-form">
	
	<%= error_messages_for 'user' %>
	
	<fieldset>
		<legend>Please log in</legend>
		<% form_tag do %>
			<p>
				<label for="name">Name:</label>
				<%= text_field_tag :name, params[:name] %>
			</p>
			
			<p>
				<label for="password">Password:</label>
				<%= password_field_tag :password, params[:password] %>
			</p>
			
			<%= submit_tag "Login" %>
		<% end %>
		
		<%= link_to "Create an account", :action => "add_user" %>
	</fieldset>
</div>